.App{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .copy-left {
  display: inline-block;
  text-align: right;
  margin: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: “FlipH”;
}
}

